@import '@/scss/variables';
.main {
  font-family: 'Quicksand';
  background-color: $content-bg-color;
  .container {
    font-size: 16px;
    display: flex;
    width: 1370px;
    margin: 0 auto;
    padding: 20px 0;
    .product-content {
      flex: 70%;
      display: grid;

      .cart {
        padding: $space-bar $gap;
        margin-bottom: 10px;
        border-radius: 8px;
        background-color: white;
        h2 {
          font-weight: 600;
          font-size: 20px;
        }
      }
      .product.title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
        height: 54px;
        .img {
          text-align: left;
        }
        .single-price,
        .quantity,
        .total,
        .remove {
          width: 15%;
          line-height: 24px;
          font-size: 16px;
          padding-top: 0;
        }
      }

      .product {
        margin-bottom: 10px;
        padding: 15px 0;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        padding-left: 15px;
        box-shadow: 1px 3px 3px rgb(226, 226, 226);
        img {
          width: 106px;
        }
        .buy {
          width: 10%;
          input {
            margin-left: 20px;
            margin-top: 45px;
            width: 20px;
            height: 20px;
          }
        }

        .img {
          text-align: left;
          width: 30%;
          height: 106px;
          span {
            font-size: 16px;
            font-weight: 600;
            padding-left: 16px;
            vertical-align: top;
          }
        }

        .single-price,
        .quantity,
        .total,
        .remove {
          width: 15%;
          padding-top: 40px;
        }
       
        .single-price,
        .total {
          font-weight: 600;
          font-size: 18px;
          color: black;
        }

        .quantity {
          font-size: 20px;
          i {
            padding: 8px;
          }
        }
        .remove {
          padding-left: 40px;
          button {
            margin-left: -10px;
            font-size: 16px;
            font-weight: 600;
            color: rgb(216, 74, 74);
            border: 1px solid;
            border-radius: 8px;
            padding: 2px 20px;
            background: white;
            font-family: 'Quicksand';
            transition: all 0.3s linear;
            &:hover {
              color: white;
              background: rgb(216, 74, 74);
            }
          }
        }
      }
    }
    .price {
      flex: 20%;
      background-color: white;
      margin-left: 10px;
      min-height: 350px;
      border-radius: $border-radius;
      .pro {
        height: 30%;
        display: flex;
        justify-content: center;
        .km {
          height: 100%;
          width: 90%;
          grid: 20%;
          display: grid;
          padding: $gap;
          border-bottom: 1px solid #bbb;
          color: $app-main-text-color;
          .km-happytea {
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
              background-color: white;
              display: flex;
              border-radius: calc(#{$border-radius * 2});
            }
            p {
              color: #bbb;
            }
          }

          a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: rgb(104, 104, 255);
            i {
              margin-right: 5px;
            }
            &:hover {
              cursor: pointer;
              color: blue;
            }
          }
        }
      }
      .bill {
        height: 50%;
        .bill-content {
          padding: 5%;
          height: 90%;
          table {
            width: 100%;
            height: 100%;
            tr {
              td {
                transform: translateY(50%);
              }
            }
            tr.sum {
              color: black;
              font-weight: bold;
            }
          }
        }
      }
      .order {
        height: 20%;
        width: 90%;
        display: flex;
        align-items: center;
        margin: auto;
        button {
          width: 100%;
          height: 50%;
          cursor: pointer;
          border: none;
          border-radius: $border-radius;
          box-shadow: 2px 2px 2px #aaa;
          text-transform: uppercase;

          font-weight: bolder;
          font-size: 16px;
          color: white;
          background-color: $app-bg-color;
          transition: background-color 0.3s linear;
          font-family: 'Quicksand';
          &:hover {
            background: #e5858d !important;
          }
          &:active {
            transform: translateY(3px);
            box-shadow: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md) {
  .main {
    .container {
      max-width: 1170px;
    }
  }
}

.btn {
  cursor: pointer;
}