@import '@/scss/variables';
.cart {
  font-family: 'Quicksand';
  background-color: $content-bg-color;
  .main-cart {
    display: grid;
    width: 1370px;
    margin: 0 auto;
    .path {
      display: flex;
      background-color: white;
      width: 100%;
      height: 5rem;
      margin: $space-bar auto;
      align-items: center;
      font-size: $app-font-size;
      border-radius: calc(#{$border-radius * 2});
      a {
        text-decoration: none;
        color: $app-main-text-color;
        margin: 0 $space-bar 0 calc(#{$space-bar * 3});
        &:hover {
          cursor: pointer;
          color: $app-bg-color;
        }
      }
      span {
        margin: 0 $space-bar;
        color: $app-bg-color;
      }
    }
    .add-to-cart {
      display: flex;
      width: 100%;
      margin: 0 auto;
      border-radius: 16px;

      background-color: white;
      .img-sp {
        flex: 40%;
        padding: calc(#{$space-bar * 2});
        border-right: 1px solid rgb(214, 214, 214);
        img {
          width: 100%;
          height: 100%;
        }
      }
      .detail-product {
        flex: 60%;
        padding: 40px 20px;
        display: grid;
        h2 {
          font-weight: bold;
          font-size: calc(#{$app-font-size * 2});
          margin-bottom: $gap;
        }

        .price {
          display: grid;
          background-color: $content-bg-color;
          padding: $space-bar calc(#{$space-bar * 2});
          font-size: 14px;
          border-radius: calc(#{$border-radius * 2});
          span {
            font-weight: bold;
            font-size: calc(#{$app-font-size * 2});
            font-size: 30px;
            margin: 0;
          }
        }

        .rating {
          font-size: 18px;
        }
        span {
          margin: 10px 0;
          display: flex;
          align-items: center;
          font-size: $app-font-size;
        }
        .brand {
          font-size: $app-font-size;
          padding: 0 0 $gap;
          table {
            width: 40%;
            font-size: 14px;
            color: #333;
            tr {
              display: flex;
              padding: 8px 0;
              td {
                flex: 50%;
              }
            }
          }
        }
        .to-add {
          display: flex;
          align-items: center;
          i {
            font-size: $i-font-size;
            color: $app-bg-color;
            &:hover {
              cursor: pointer;
              transition: 0.2s;
              color: darken($app-bg-color, 15);
            }
          }
          span {
            font-size: 18px;
            font-weight: 600;
            margin: 0 $gap;
          }
        }
        button {
          width: 40%;
          cursor: pointer;
          padding: $gap;
          border: none;
          border-radius: $border-radius;
          box-shadow: 2px 2px 2px #aaa;

          font-size: 16px;
          font-family: 'Quicksand';
          background: #ff929b;
          color: white;
          margin-top: $gap;
          &:hover {
            background: #f07e88;
            cursor: pointer;
            transform: scale(1.05);
            transition: 0.2s;
          }
        }
      }
    }
    .related {
      background-color: white;
      width: 100%;
      border-radius: 16px;
      margin: calc(#{$space-bar * 2}) auto;
      padding: calc(#{$space-bar * 3}) 0;
      h4 {
        font-size: calc(#{$app-font-size * 2});
        color: $app-bg-color;
        margin-left: $space-bar;
        text-transform: uppercase;
      }
      .related-sp {
        display: grid;
        justify-content: center;
        img {
          width: 100%;
        }
        p {
          font-size: calc(#{$app-font-size * 1.2});
          color: $app-main-text-color;
        }
      }
      .filter-result-body {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        .card {
          width: 20%;
          position: inherit;
          .card-item {
            padding: 5px $gap;
          }
          .card-body {
            margin: 16px;
            img {
              width: 100%;
              max-height: 220px;
            }
            .card-title {
              text-align: left;
              font-weight: 600;
              font-size: 16px;
            }

            .card-desc {
              margin-top: -$gap;
              opacity: 0.5;
            }

            .card-desc,
            .card-rating {
              font-size: 14px;
            }

            .card-price {
              font-size: 20px;
              font-weight: 600;
            }
          }
          &:hover {
            cursor: pointer;
            box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.4);
          }
        }
      }
    }
  }
}
